* {
    background-color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
}

header {
    color: #112d4e;
    padding: 30px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 35px;
}

.nav-links li a {
    color: #112d4e;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #38bdf8;
}

.hero {
    min-height: 100vh;
    height: auto;
    color: #112d4e;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero-content h2 {
    font-size: 28px;
    color: #38bdf8;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 18px;
    max-width: 600px;
    margin: 0 auto 30px;
}

.cta-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #38bdf8;
    color: #000;
    font-weight: bold;
    border-radius: 25px;
    text-decoration: none;
    transition: background 0.3s ease;
}

.cta-button:hover {
    background-color: #0ea5e9;
}

.about {
    min-height: 100vh;
    height: auto;
    color: #112d4e;
    padding: 60px 20px;
    text-align: center;
}

.about h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about-intro {
    max-width: 700px;
    margin: 0 auto 40px;
    font-size: 18px;
    line-height: 1.6;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    text-align: left;
}

.personal-details,
.skills {
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 24px;
    box-shadow: 0 4px 12px rgba(4, 0, 0, 0.05);
    width: 350px;
}

.personal-details h3,
.skills h3 {
    margin-bottom: 15px;
    color: #0f172a;
}

.personal-details li,
.skills li {
    margin-bottom: 10px;
    font-size: 16px;
}

.projects {
    min-height: 100vh;
    height: auto;
    padding: 60px auto 0px;
    color: #112d4e;
    text-align: center;
}

.projects h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.project-intro {
    max-width: 700px;
    margin: 0 auto 40px;
    font-size: 18px;
    line-height: 1.6;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    max-width: 1100px;
    margin: auto;
}

.project-card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 24px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.06);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: left;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.08);
}

.project-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #0f172a;
}

.project-card p {
    margin-bottom: 8px;
    font-size: 16px;
}

.services {
    min-height: 100vh;
    height: auto;
    padding: 60px 20px;
    color: #112d4e;
    text-align: center;
}

.services h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.services-intro {
    max-width: 700px;
    margin: 0 auto 40px;
    font-size: 18px;
    line-height: 1.6;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    max-width: 1100px;
    margin: auto;
}

.service-card {
    padding: 20px;
    border-radius: 24px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.08);
}

.service-card h3 {
    margin-bottom: 12px;
    font-size: 22px;
    color: #112d4e;
}

.service-card p {
    font-size: 16px;
}

.contact {
    min-height: 100vh;
    height: auto;
    padding: 60px 20px;
    text-align: center;
}

.contact h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #112d4e;
}

.contact-message {
    font-size: 18px;
    max-width: 700px;
    margin: 0 auto 40px;
}

.contact-info p {
    font-size: 16px;
    margin: 10px 0;
}

.contact-info a {
    color: #2563eb;
    text-decoration: none;

}

.contact-info a:hover {
    text-decoration: underline;
}

.contact-form {
    max-width: 350px;
    margin: 40px auto 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 18px;
    border: 2px solid #112d4e;
    border-radius: 18px;
    font-size: 16px;
}

.contact-form button {
    background-color: #38bdf8;
    color: #112d4e;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.contact-form button:hover {
    background-color: #0ea5e9;
}

.footer {
    color: #112d4e;
    padding: 40px 20px 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    margin-bottom: 20px;
}

.footer-links,
.footer-social {
    text-align: left;
}

.footer h4 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #38bdf8;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer li {
    margin-bottom: 8px;
}

.footer a {
    color: #112d4e;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #38bdf8;
}

.footer-bottom {
    border-top: 1px solid #1e293b;
    padding-top: 15px;
    font-size: 14px;
    color: #112d4e;
}